<div class="header">
  <a href="http://sqily.com" style="display: block;">
    <%= image_tag('sqily.png', :style => 'height: 24px') %>
  </a>
  <p>annulation</p>
</div>

L'événement <%= @event.title %> a été annulé.

<p style="text-align: center;"><%= link_to "Continuer", "https://sqily.com", class: "btn" %></p>
