<div class="header">
  <a href="http://sqily.com" style="display: block;">
    <%= image_tag('sqily.png', :style => 'height: 24px') %>
  </a>
  <p>Récupération de mot de passe</p>
</div>
<p>Voici le lien pour récupérer votre mode de passe:</p>

<p><%= link_to password_reset_url(@password_reset), password_reset_url(@password_reset) %></p>

<p>Celui-ci expire dans 1 heure.</p>
