<p>
  <small><%= l notification.created_at, format: :short %></small><br>
  Vous avez un défi en attente de validation.
</p>

<p style="text-align: center;"><%= link_to "Continuer", "https://sqily.com", class: "btn" %></p>
