.event .box {
  margin: 6px 0 0;
  border-radius: 4px 4px 0 0;
}

.event__date {
  float: right;
  margin-left: 12px;
}

.event__picture { margin-top: 12px; }

.event__picture img {
  max-height: 360px;
  margin: 0 auto;
  display: block;
}

.event__registration {
  position: relative;
  top: -1px;
  background: rgba(17, 22, 26, 0.05);
  padding: 6px 12px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 0 0 1px #edf0f2 inset,
    0 24px 24px -24px rgba(17, 22, 26, 0.05);
}

.event__registration .pull-right { text-align: right; }

.event__registration .btn { margin: 0 0 0 8px; }

.event__registration strong { color: rgba(17, 22, 26, 1); }

.event__registration .members { display: flex; }

.event__registration .members li {
  max-width: 30px;
  padding: 0;
  overflow: visible;
}

.event__registration .members .avatar {
  top: 0;
  width: 24px;
  height: 24px;
}

.event__registration .members .avatar img {
  width: 24px;
  height: 24px;
}

.filters {
  box-shadow: 0 0 0 1px rgba(162, 165, 166, 0.4), 0 2px 2px -2px rgba(17, 22, 26, 0.2);
  line-height: 24px;
  height: 24px;
  margin: 12px 6px;
  padding: 0;
}

a.filter {
  padding: 0 6px;
  font-weight: 400;
  font-size: 0.833rem;
  height: 100%;
  position: relative;
  color: rgba(17, 22, 26, 0.3);
  line-height: 24px;
  background: rgba(17, 22, 26, 0.05);
  display: inline-block;
  top: -1px;
}

a.filter:hover { color: rgba(17, 22, 26, 1); }

a.filter--active {
  font-weight: 700;
  color: rgba(17, 22, 26, 1);
  background: transparent;
}
