.flash {
  animation: message-appear 8s 0.3s ease-out;
  color: #fff;
  line-height: 48px;
  margin: 0;
  position: fixed;
  text-align: center;
  top: -48px;
  width: 100%;
  z-index: 100000;
}

.flash.notice { background: #1c8cca; }

.flash.alert { background: #f43e22; }

.flash.permanent {
  animation: none;
  background: #fef9f1;
  color: #f43e22;
  font-weight: 700;
  position: relative;
  top: 0;
}

@keyframes message-appear {
  0%   { top: -48px; }
  5%   { top: 0; }
  95%  { top: 0; }
  100% { top: -48px; }
}
