fieldset {
  padding: 24px;
  border: 1px solid rgba(17, 22, 26, 0.1);
  margin-bottom: 24px;
}

legend {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.833rem;
}

input,
input[type='text'],
textarea,
select {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 6px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 12px;
  border: 1px solid rgba(17, 22, 26, 0.2);
  box-shadow: 0 0 12px 0 rgba(17, 22, 26, 0.05) inset;
  border-radius: 2px;
}

input[type='file'] { height: auto; }

.inline-radio label {
  display: inline-block;
  margin-left: 12px;
}

.inline-radio label.yes {
  background: #1cca5e;
  color: #fff;
  width: 36px;
  text-align: center;
  font-size: 0.833rem;
}

.inline-radio label.no {
  background: #f43e22;
  color: #fff;
  width: 36px;
  text-align: center;
  font-size: 0.833rem;
}

.inline-radio label.na {
  background: rgba(17, 22, 26, 0.1);
  color: #fff;
  width: 36px;
  text-align: center;
}

.skill-assesments li.disabled label { cursor: not-allowed; }

.content section.form .skill-assesments li form .question { flex: 1; }

input[type='radio'] {
  display: inline-block;
  margin: 0 6px 0 0;
}

textarea {
  height: 168px;
  overflow-y: auto;
  line-height: 24px;
  padding: 7px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  line-height: 24px;
  display: inline-block;
  vertical-align: center;
  position: relative;
  top: 1px;
}

.inline label {
  display: inline;
  font-weight: 400;
}

.checkbox label {
  display: inline-block;
  line-height: 24px;
}

div.checkbox { margin: 24px 0; }

div.checkbox.alert {
  background: rgba(17, 22, 26, 0.05);
  border: 1px solid rgba(17, 22, 26, 0.2);
  padding: 12px 24px;
  margin: 24px 0;
}

input[type='file'] {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 18px 12px;
}

input[type='file'].input-file {
  display: none;
}

form label { display: inherit; }

input:focus { outline: none; }

input.search {
  padding: 0 24px;
  background: transparent;
  border: 1px solid #edf0f2;
  box-shadow: 0 0 0 0;
  border-width: 1px 0;
  margin-bottom: 0;
}

::placeholder {
  color: #1b2226;
  opacity: 0.5;
}

label {
  display: block;
  font-weight: 700;
}

label input {
  display: inline;
  width: auto;
  height: auto;
  margin: 0 12px 0 2px;
}

.field_with_errors { color: #ea3618; }

.current { margin-bottom: 14px; }

.current a.delete {
  background: #f43e22;
  color: #fff;
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 14px;
  text-decoration: none;
  padding: 0;
  position: relative;
  top: -12px;
}

.form--inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .form--inline input[type="submit"] { margin: 0 0 12px; }

.form .form--inline { justify-content: flex-start; }

.form--inline .btn,
.form .form--inline input[type="submit"] {
  margin: 24px 6px 0 0;
  width: auto;
}

.input-group {
  display: flex;
  width: 100;
  align-items: center;
}

.input--permalink {
  width: auto;
  display: inline-block;
}

.input-group-prepend {
  padding: 0 8px;
  height: 48px;
  line-height: 48px;
  margin: 0 0 12px 0;
  background: #f1f1f1;
  color: #6d7173;
}