.icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  fill: #6d7173;
  vertical-align: middle;
  text-align: center;
  border-radius: 12px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
  position: relative;
}

.avatar.icon.icon--info,
.icon.icon--info {
  background-color: #1c8cca;
  fill: #fff;
}

.avatar.icon.icon--danger,
.icon.icon--danger {
  background-color: #f43e22;
  fill: #fff;
}

.avatar.icon.icon--success,
.icon.icon--success {
  background-color: #28a745;
  fill: #fff;
}

.icon button,
button.icon,
button .icon {
  padding: 0;
  letter-spacing: 0;
}

svg { vertical-align: middle; }

.icon svg {
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 0;
}

.icon--drag { cursor: grab; }

.icon--inactive {
  opacity: 0.5;
  cursor: none;
}

.icon--inactive svg {
  fill: none;
  stroke: #6d7173;
  stroke-width: 1px;
}

.icon--admin {
  background: #f4ae22;
  fill: #1b2226;
  cursor: pointer;
  box-shadow:
    0 2px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -2px 0 0 rgba(17, 22, 26, 0.1) inset,
    0 2px 2px -2px rgba(17, 22, 26, 0.2);
}

.icon--admin:hover { background: #ffb621; }

.icon--mh { display: none; }

.icon--dh { display: inline-block; }

.skill .icon--star { margin-right: 12px; }

.icon--star--start { fill: #1c8cca; }

.icon--star--finish { fill: #f4ae22; }

.icon--action {
  fill: #fff;
  cursor: pointer;
  background: #1c8cca;
  border-radius: 12px;
  transition: opacity 0.3s ease-in-out;
  box-shadow:
    0 2px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -2px 0 0 rgba(17, 22, 26, 0.1) inset,
    0 2px 2px -2px rgba(17, 22, 26, 0.2);
}

.icon--action:hover,
.btn:hover .icon--action {
  fill: #fff;
  background: #1b8dcf;
}

.icon--delete {
  background: #6d7173;
  fill: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.icon--delete:hover {
  background: #f43e22;
  fill: #fff;
}

.icon--favorite--active { fill: #f43e22; }

.icon--close {
  cursor: pointer;
  margin-left: 6px;
  background: #6d7173;
  fill: #edf0f2;
  box-shadow:
    0 2px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 -2px 0 0 rgba(17, 22, 26, 0.1) inset,
    0 2px 2px -2px rgba(17, 22, 26, 0.2);
}

.icon--close:hover {
  background: rgba(17, 22, 26, 0.6);
  fill: #fff;
}

@media (min-width: 1000px) {
  .icon--mh { display: inline-block; }

  .icon--dh { display: none; }
}
