.box.audio { overflow: visible }

.audio-player {
  display: block;
  margin: 6px 0; 
  width: 100%;
  height: 48px;
}

.audio-player::-webkit-media-controls-panel { background: #fff; }

.box.video { position: relative; }

.video-player {
  display: block;
  margin: 6px 0;
  max-width: 100%;
}
