.content section.form .skill-assesment-list li form { width: 100%; }

.skill-assesment .skill {
  flex: 1;
  font-weight: 700;
}

.skill-assesment .arrow {
  margin: 0 12px;
  opacity: 0.5;
}

.skill-assesment-list { margin: 0 0 24px; }

ul.skill-assesment-list { box-shadow: 0 0 0 1px rgba(17, 22, 26, 0.05) inset; }

div.skill-assesment-list p { flex: 1; }

.content section.form .skill-assesment-list li {
  padding: 12px 12px 0;
  border-left: 6px solid #1c8cca;
  box-shadow: 0 0 0 1px rgba(37, 38, 49, 0.1), 0 2px 4px -2px rgba(37, 38, 49, 0.1);
  background: rgba(17, 22, 26, 0.03);
}

.content section.form .skill-assesment-list li:hover { background: rgba(37, 38, 49, 0.01); }

.content section.form .skill-assesment-list li.disabled,
.content section.form .skill-assesment-list li.disabled:hover {
  box-shadow: 0 0 0 0;
  border-left: 6px solid rgba(37, 38, 49, 0.1);
  background: rgba(37, 38, 49, 0);
}

.skill-assesment {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.skill-assesment .online-radio {
  margin-right: 12px;
  white-space: nowrap;
}

.skill-assesment .icon--star { margin: 0 6px 0 0; }

.skill-assesment__skill {
  flex: 1;
  display: flex;
}

.skill-assesment__meta {
  width: 100%;
  display: flex;
}

.skill-assesment__meta h4 {
  padding: 0 12px 0 0;
  margin: 0;
}
