.submenu {
  display: flex;
  padding: 0 12px 12px;
  width: 100%;
}

@media (min-width: 1000px) {
  .submenu { padding: 0 24px 12px; }
}

.submenu .is-right { margin-left: auto; }

.submenu li a {
  height: 24px;
  line-height: 24px;
  display: flex;
}

.submenu a.icon.pin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 3px;
  fill: #f43e22;
  color: #f43e22;
}

header nav .btn,
.submenu .btn {
  display: flex;
}

header nav .btn svg,
.submenu .btn svg {
  width: 16px;
  height: 16px;
  margin: 4px -4px;
}

.submenu .btn svg + span {
  display: inline-block;
  margin-left: 12px;
}

.submenu a.pin.active {
  background: #f43e22;
  fill: #fff;
  color: #fff;
}

.submenu a.pin.active:hover { background: #f43e22; }

.submenu a.pin.icon span {
  font-size: 1rem;
  line-height: inherit;
  position: relative;
  padding: 0 3px;
  display: inline;
  font-family: 'PT Sans', sans-serif;
}
