.workspace-form {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box--workspace {
  box-shadow: 0 0 0 1px #edf0f2 inset, 0 2px 2px -1px rgba(17, 22, 26, 0.1);
  max-height: calc(100vh - 320px);
  display: flex;
  flex-direction: column;
}

.partnerships-tab {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.box--workspace .box--help { margin: 1px; }

.workspace-partnerships {
  margin: 0;
  overflow: scroll;
  flex: 1;
}

.workspace-partnerships .basic-list { margin: -12px; }

.workspace-form .todolist__new-item { margin: 0; }

.workspace-form section.form {
  flex: 1;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
  display: flex;
}

.edit_workspace {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.workspace-form trix-editor {
  height: inherit;
  flex: 1;
  margin-bottom: 0;
}

section.workspace {
  padding: 0;
  overflow-y: auto;
  flex: 1;
}

section.workspace .workspace__text {
  box-shadow: 0 0 0 1px #edf0f2 inset, 0 2px 2px -1px rgba(17, 22, 26, 0.1);
  padding: 12px;
  margin: 0 24px 24px;
}

.workspace__text a.icon { margin: 0 0 0 6px; }

.workspace .credits .sidebar-toggle {
  font-weight: 700;
  text-decoration: none;
  line-height: 24px;
  display: inline-flex;
  margin: 12px 12px 12px 0;
}

.workspace .credits .avatar {
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 6px 0 0;
}

.workspace__actions form { padding-bottom: 0; }

.workspace__actions {
  align-items: top;
  display: flex;
  background: rgba(17, 22, 26, 0.05);
  padding: 12px;
  margin: -12px -12px -12px;
}

.workspace__versions {
  flex: 1;
  margin-left: 0;
}

.workspace__versions label {
  padding: 0 12px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(17, 22, 26, 0.1) inset;
}

.workspace__versions select {
  padding: 0 12px;
  margin: 0;
  line-height: 24px;
  height: 24px;
  font-weight: 700;
  background: #fff;
}

.workspace__actions .btn {
  margin: 0 0 0 6px;
  position: relative;
  height: 24px;
  text-decoration: none;
}

.workspace-form [data-skill-description-tab-content] {
  border: 0;
  margin: 12px -12px -12px;
  overflow: auto;
}

.workspace h2 { margin-top: 48px; }

.draft {
  text-transform: uppercase;
  font-size: 0.833rem;
  letter-spacing: 1px;
  color: #f43e22;
  margin: 0 12px;
}

.title .date {
  margin: 0 12px;
  font-weight: 400;
  font-size: 0.833rem;
}

h3.discussion { padding: 0 24px 24px; }

.workspace ins {
  text-decoration: none;
  background-color: #d9f8e6;
}

.workspace ins ul,
.workspace ins li { background-color: #d9f8e6; }

.workspace del { background-color: #fee3df; }

.workspace-publication-modal__form {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 24px);
  margin-left: -12px;
}

.workspace-publication-modal__form__option {
  flex: 1;
  min-width: 240px;
  background: rgba(17, 22, 26, 0.05);
  padding: 24px;
  margin: 0 12px;
  flex-wrap: wrap;
}

.workspace-publication-modal__form__option label {
  width: 100%;
  margin-bottom: 24px;
}

.workspace__form__footer {
  text-align: left;
  width: 100%;
}

.workspace__publication {
  background: rgba(17, 22, 26, 0.05);
  box-shadow: 0 0 0 1px #edf0f2 inset, 0 2px 2px -1px rgba(17, 22, 26, 0.1);
  margin: 24px -12px -12px;
  padding: 12px;
}

.workspace__publication .form { margin-top: 12px; }