<a href="/"><%= image_tag image_path("sqily.svg"), class: "logo", alt: "Sqily" %></a>

<section class="page">
  <h2 class="title">FAQ</h2>
  <article>
    <h2>Idéologie </h2>
    <h3>À quoi sert Sqily ?</h3>
    <p>C’est une plateforme de validation collective de connaissance, basée sur les arbres de
    connaissance de M.Authier et P.Levy.</p>

    <h3>Mais encore ?</h3>
    <p>En clair, il s’agit de créer des communautés d’utilisateurs sur une même problématique où
    le savoir n’est pas dévoué à un formateur, mais partagé par l’ensemble des membres.
    Chaque membre possède certaines compétences qu’il propose à la communauté. En
    échange, il pourra à son tour développer d’autres compétences.</p>

    <h3>Comment fonctionnent ces échanges de compétences ?</h3>
    <p>Les apprentis valident leurs compétences à l’aide d’une épreuve de validation courte, le
    défi. Ils deviennent experts et valident à leur tour les compétences de leurs pairs.</p>

    <h3>Qui utilise Sqily ?</h3>
    <p>La plateforme est utilisée dans l’enseignement obligatoire du canton de Vaud ainsi qu’à la
    haute école pédagogique Vaud (HEP).</p>

    <h3>Quelle est son histoire ?</h3>
    <p>Sqily est le produit d’une refonte complète de Skillforest dans une perspective d’efficacité
    (less is more).</p>

    <h3>Qui sont les auteurs ?</h3>
    <p>Le concept dérivé des arbres de connaissances est actuellement étudié par l’unité
    d’enseignement et de recherche MITC de la HEP sous la responsabilité de Philippe
    Ruffieux.</p>
    <p>Le développement a été confié à <a href="http://basesecrete.com">Base Secrète Sàrl</a> (Genève).</p>
  </article>

  <article>
    <h2>Premiers pas</h2>
    <h3>J’aimerais afficher une image de profil ?</h3>
    <p>Vous pouvez associer votre adresse email au service <a href="https://gravatar.com">Gravatar</a>.</p>

    <h3>À quoi servent les messages importants ?</h3>
    <p>Ce sont des messages qui devraient être lus par tous.</p>
    <p>Sur la communauté : les informations que les administrateurs estiment utiles aux
    membres.</p>
    <p>Sur la compétence : des pistes de travail que les experts estiment utiles pour progresser.</p>

    <h3>À quoi correspondent les coeurs ?</h3>
    <p>Chaque utilisateur peut mettre en avant certaines compétences particulièrement bien
    maîtrisées où qu’il affectionne.</p>

    <h3>J’aimerai créer une compétence, mais n’ai pas le bouton.</h3>
    <p>L’administrateur peut décider d’autoriser ou non la création de compétences. Adressez vous à lui.</p>

    <h3>J’aimerais quitter la communauté.</h3>
    <p>L’administrateur peut vous répondre.</p>

    <h3>Dans les conversations, un utilisateur est irrespectueux</h3>
    <p>Adressez-vous à l’administrateur. Il peut supprimer des messages, voire exclure un
    membre.</p>

    <h3>L’ordre des compétences change et je ne m’y retrouve pas toujours.</h3>
    <p>Elles sont triées en fonction des experts ; les compétences les plus alimentées et sur
    lesquelles vous pourrez trouver le plus de soutien en premier.</p>
    <p>Vous pouvez aussi sélectionner qu’une catégorie à l’aide des étoiles en bas de page.</p>

    <h3>Travailler une compétence</h3>
    <p>Je ne suis pas sûr de vouloir m’inscrire à une compétence.</p>
    <p>Si la compétence à laquelle vous vous êtes inscrit ne vous convient pas, vous pouvez à
    tout moment utiliser le bouton « désinscription ».</p>

    <h3>Je ne trouve pas le bouton « désinscription »</h3>
    <p>Il se trouve en dessous de la description qui s’affiche lorsque vous glissez la souris sur le
    titre de la compétence.</p>

    <h3>Je me suis inscrit à une compétence, que puis-je faire maintenant ?</h3>
    <p>Vous pouvez lire les messages importants qui vous donnent des indications et des pistes
    pour progresser dans votre apprentissage.</p>

    <h3>J’ai suivi les messages importants, mais je ne me sens pas encore à l’aise, que faire ?</h3>
    <p>Vous pouvez contacter un expert qui vous aidera dans votre formation.</p>

    <h3>Je pense maîtriser la compétence, que dois-je faire pour devenir expert ?</h3>
    <p>En principe, vous téléchargez un défi et le renvoyez une fois complété.
    Un expert peut décider de vous passer expert directement si vous lui avez démontré votre
    maîtrise en présentiel ou à l’aide d’une production.</p>

    <h3>Je maîtrise cette compétence depuis bien longtemps, dois-je forcément suivre toute la procédure ?</h3>
    <p>Non. Vous pouvez contacter un expert pour démontrer votre compétence.</p>

    <h3>J’ai téléchargé un défi, mais il ne me convient pas.</h3>
    <p>Vous pouvez annuler la procédure.</p>

    <h3>J’ai téléchargé un défi, que dois-je faire maintenant ?</h3>
    <p>Vous répondez au contenu du document téléchargé. En principe, vous renvoyez le
    nouveau document sur la compétence. Il sera reçu et vérifié par l’expert concerné.</p>

    <h3>L’expert a refusé mon défi, mais je ne comprends pas ou ne suis pas d’accord.</h3>
    <p>Tout refus est justifié par une remarque. Si celle-ci n’est pas claire ou satisfaisante, vous
    devez d’abord clarifier la situation avec l’expert.</p>
    <p>Si le désaccord persiste, vous pouvez vous tourner vers un autre expert.</p>

    <h3>Que puis-je ajouter dans un message ?</h3>
    <p>Vous pouvez ajouter du texte, des liens internet et des vidéos YouTube ou <a href="http://www.scolcast.ch/">Scolcast</a>.</p>
    <p>Le dépôt de document n’est actuellement pas possible.</p>

    <h3>Comment déposer une vidéo ?</h3>
    <p>Coller l’URL de la vidéo YouTube ou Scolcast dans votre message, elle sera
    automatiquement reconnue</p>
  </article>
  <article>
    <h2>Être expert :</h2>
    <h3>Je suis devenu expert, quel est mon rôle maintenant?</h3>
    <p>En tant qu’expert, vous êtes responsable de produire à votre tour un défi.
    Vous pouvez aussi apporter votre aide et vous pouvez modifier les messages importants.
    Les apprentis comptent sur vous !</p>

    <h3>Je veux créer un défi, quel doit être son contenu ?</h3>
    <p>Vous êtes seul juge de ce que vous demandez. Le défi que vous préparez peut être très
    différent de celui que vous avez passé.</p>
    <p>Vous devez garder à l’esprit qu’il doit vous apporter la preuve d’une maîtrise et limiter le
    temps de sa réalisation à 15-30 minutes.</p>

    <h3>J’ai reçu un défi qui n’est pas parfait. Quels sont les critères d’une validation ?</h3>
    <p>En tant qu’expert, vous êtes seul juge de la maîtrise d’une compétence. Fixer des
    indicateurs peut aider à la correction. Dans le doute, vous pouvez demander des
    précisions ou proposer une question supplémentaire sans obliger l’apprenti à repasser un
    défi en entier.</p>

    <h3>J’ai déposé un défi, mais il contient des erreurs ou n’est plus d’actualité.</h3>
    <p>Vous pouvez utiliser le bouton + pour déposer un nouveau défi qui le remplacera.</p>

    <h3>J’aimerais déposer plusieurs défi.</h3>
    <p>Un expert ne peut proposer qu’un défi à la fois par compétence.</p>

    <h3>J’ai trop de demandes d’expertise et je n’arrive plus à suivre, puis-je me retirer de cette
    tâche momentanément ?</h3>
    <p>Vous pouvez désactiver votre défi. Il ne sera plus accessible aux utilisateurs pour vous concentrer sur d'autres tâches. Vous pourrez le réactiver plus tard.</p>
  </article>
  <article class="support">
    <h2>Une autre question ?</h2>
    <a href="mailto:support@sqily.com" class="btn large">Contactez-nous</a>
  </article>
</section>
