.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
}

main {
  background: #fff;
  height: calc(100% - 48px);
  overflow-y: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-shadow: 0 0 0 1px rgba(17, 22, 26, .1);
  position: relative;
}

.content {
  display: flex;
  flex: 1;
  order: 1;
  width: 100%;
  min-width: 300px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  height: 100%;
}