<%= render "/communities/header" %>
<div class="post-date"><hr></div>
<div data-ariato="Sqily.User.Statistics" class="stats__content">
  <%= render "/skills/progression_table", skills: @skills, users: @users %>
</div>
<%= paginate @users %>
